/.left-nav
/  %ul
/    Tracks
/    %li Popular
/    %li Recent
/    %li Upvotes
/    Artists
/    %li Popular
/    %li Recent
.main-container
  #options-header-area
    /- @genres.each do |genre|
    %ul.flat-list
      %li
        = link_to 'Tracks', '#'
      %li
        %span.separator= '-'
        = link_to 'Releases', '#'
      %li
        %span.separator= '-'
        = link_to 'Artists', '#'
      %li
        %span.separator= '-'
        = link_to 'Playlists', '#'
  .left-bar
    .tracks-container
      .tracks-heading
        /%ul
        Hot -
        Contraversial -
        New - 
        Saved
      .track-items
        - @popular_tracks.each do |track|
          %article.track-item.track{:'track-id' => track.id, :'track-remote-id' => track.sc_id, :artist => track.f_artist, :title => track.f_title}
            /%a{:href => track_url(track.permalink)}
            .voting
              /.upvote
              /  Up
              .vote
                23
              /.downvote
              /  Down
            = image_tag track.artwork_url
            .track-item-details
              .track-item-title= track.f_title
              .track-item-artist= track.f_artist
            .track-play
              %i.icon-play.icon-white
  #main-content
  /#main-content
  /  .main-heading
  /    %h4 Popular
  /  #main-wrapper

  /.tracks-container
  /  .tracks-heading
  /    /%h4 New on TurnChannel
  /  .track-items
  /    - @new_tracks.each_with_index do |track, i|
  /      - i += 1
  /      %article.track-item.track{:'track-id' => track.sc_id, :artist => track.f_artist, :title => track.f_title}
  /        /%span.rank= i
  /        .voting
  /          .upvote
  /            Up
  /          .vote
  /            23
  /          .downvote
  /            Down
