.container-with-right-bar
  .featured-tracks-container
    .featured-tracks-heading
      %h3 Featured on TurnChannel
    .featured-track-navmain
      - @popular_tracks[0..3].each_with_index do |track, i|
        .featured-track-item{:id => "featured-track-#{i}"}
          %a{:href => track_url(track.permalink)}
            = image_tag track.artwork_url.gsub('large','crop')
    .featured-track-main
      %a{:href => track_url(@popular_tracks.first.permalink)}
        = image_tag @popular_tracks.first.artwork_url.gsub('large','crop')
    .featured-track-sub
      - @popular_tracks[4..7].each_with_index do |track, i|
        - i = i + 4
        .featured-track-item{:id => "featured-track-#{i}"}
          %a{:href => track_url(track.permalink)}
            = image_tag track.artwork_url.gsub('large','crop')
  .new-tracks-container
    .new-tracks-heading
      %h3 New on TurnChannel
    .new-track-items
      - @new_tracks.each do |track|
        %article.new-track-item.track
          %a{:href => track_url(track.permalink)}
            = image_tag track.artwork_url
            .new-track-description
              .track-item-title= track.f_title
              .track-item-artist= track.f_artist
            .track-play
              %i.icon-play.icon-white
            .genre
              %span.label.label-inverse= track.tag.name
.right-bar
  .discover-tracks-container
    .discover-tracks-heading
      %h3 Play me some...
    .discover-track-items
      .discover-track-item
        %a{:href => '/discover/house'}
          %span House
      .discover-track-item
        %a{:href => '/discover/dubstep'}
          %span Dubstep
      .discover-track-item
        %a{:href => '/discover/dnb'}
          %span DrumNBass
  .top10-tracks-container
    .top10-tracks-heading
      %h3 TurnChannel Top 10
    .top10-track-items
      - @new_tracks.each_with_index do |track, i|
        %article.top10-track-item.track
          %a{:href => track_url(track.permalink)}
            = image_tag track.artwork_url
            - if (i+1) == 10
              .top10-track-item-details.track-item-number-10
                .track-item-title= track.f_title
                .track-item-artist= track.f_artist
            - else
              .top10-track-item-details
                .track-item-title= track.f_title
                .track-item-artist= track.f_artist
            .track-item-number= (i+1)
            .track-play
              %i.icon-play.icon-white
