.guide-bar
  .guide
    - if current_user.blank?
      .guide-container
        %h5 Discover the best EDM
        %a.register-btn.btn.btn-primary{:href => user_omniauth_authorize_path(:facebook), :target => '_blank'} Register
    - else
      .guide-container
        .profile
          = image_tag current_user.avatar
          .name
            = current_user.name
      .guide-container#favorites-guide
        %h5 Favorites
        %ul
          %a{:href => "/saved"}
            - selected = ''
            - selected = 'selected' unless session[:type].blank?
            %li{:class => selected}
              %i.icon-star
              Saved Tracks
    .guide-container#discover-guide
      %h5 Play me some...
      %ul
        - @tags.each do |tag|
          %a{:href => "/discover/#{tag.name}"}
            %li
              %i.icon-headphones
              = tag.name.camelize
  .share-turnchannel
    %h5 Help spread the word
    .social-connect
      .social#social-tw
        %a{:href=>"https://twitter.com/TurnChannel", :class=>"twitter-follow-button", :'data-show-count'=>"false", :'data-dnt'=>"true"} Follow @TurnChannel
      .social#social-fb
        .fb-like{:'data-href'=>"http://www.facebook.com/TurnChannel", :'data-send'=>"false", :'data-layout'=>"button_count", :'data-width'=>"450", :'data-show-faces'=>"false"}

.home-feed
  .new-tracks-container
    .new-tracks-heading
      %h4 New on TurnChannel
    .new-track-items
      - date = nil
      - @new_tracks.each do |track|
        - if date != track.created_at.to_date
          - date = track.created_at.to_date
          %h4= date.to_time.strftime("%A, %b %-d, %Y")
        %article.new-track-item.track
          %a{:href => track_url(track.permalink), :target => '_blank'}
            = image_tag track.artwork_url
            .new-track-description
              .track-item-title= track.f_title
              .track-item-artist= track.f_artist
            .track-play
              %i.icon-play.icon-white
            .genre
              %span.label.label-inverse= track.tag.name
