.search-tracks-container
  .search-tracks-heading
    %h3 
      Search results for "
      = @q
      "
  .search-track-items
    - if @tracks.empty?
      Could not find any tracks. Try again.
    - else
      - @tracks.each do |track|
        %article.search-track-item.track
          %a{:href => track_url(track.permalink)}
            = image_tag track.artwork_url
            .search-track-description
              .track-item-title= track.f_title
              .track-item-artist= track.f_artist
            .track-play
              %i.icon-play.icon-white
            .genre
              %span.label.label-inverse= track.tag.name
