.player{:'track-id' => @track.sc_id, :'next-track' => track_url(@tracks_rnd.first.permalink)}
  .player-container
    .player-wrapper
      = image_tag @track.artwork_url.gsub('large','t500x500')
      .player-footer
        .player-title
          %h2
            = @track.f_title
            %span
              by
              = @track.f_artist
        .player-details
          #player-play.icon-fade
            %i.icon-play.icon-zoom.icon-white
          #player-pause.icon-fade
            %i.icon-pause.icon-zoom.icon-white
          #player-step-forward.icon-fade
            %a{:href => track_url(@tracks_rnd.first.permalink), :title => 'Next Track'}
              %i.icon-step-forward.icon-zoom.icon-white
          - unless @track.purchase_url.blank?
            %a{:href => @track.purchase_url, :title => 'Purchase', :target => '_blank'}
              %i.icon-zoom.icon-shopping-cart.icon-white
              Buy
          %a{:href => @track.sc_url, :title => 'Source', :target => '_blank'}
            %i.icon-zoom.icon-file.icon-white
            Source
          %a{:href => "http://www.facebook.com/sharer.php?u=#{Rack::Utils.escape("#{request.protocol}#{request.host_with_port}#{request.fullpath}")}&t=I'm listening to \"#{@track.title}\" by #{@track.artist}", :title => 'Facebook', :target => '_blank'}
            %i.icon-zoom.icon-share.icon-white
            Facebook
          %a{:href => "https://twitter.com/intent/tweet?url=#{Rack::Utils.escape("#{request.protocol}#{request.host_with_port}#{request.fullpath}")}&via=turnchannel&text=I'm listening to \"#{@track.title}\" by #{@track.artist}", :title => 'Share via Twitter', :target => '_blank'}
            %i.icon-zoom.icon-share.icon-white
            Twitter
          %a{:href => "/discover/#{@track.tag.name}"}
            %span.label.label-inverse= @track.tag.name
          .pull-right
            ►
            = @track.cached_plays
            plays
        #player-controls
          #player-seekbar
            %span#player-elapsed.control 00:00
            #player-seek.control
              #player-progress-bar
                #player-progress-bar-meter
            %span#player-duration.control 00:00
          #player-volume-control.control
            #player-volume-up
              %i.icon-volume-up.icon-zoom.icon-white
            #player-volume-off
              %i.icon-volume-off.icon-zoom.icon-white
  .player-share
    .player-share-heading
      %h3 Did you like this track?
    .player-share-wrapper
      .social-title
        = "Could you do us a favor? If you know anyone who likes #{@track.tag.name} music, could you share this track with them?"
      .social-connect
        .social#social-fb
          .fb-like{:'data-href'=>"#{request.protocol}#{request.host_with_port}#{request.fullpath}", :'data-send'=>"false", :'data-layout'=>"box_count", :'data-width'=>"450", :'data-show-faces'=>"false"}
        .social#social-tw
          %a{:href=>"https://twitter.com/share", :class=>"twitter-share-button", :'data-via'=>"TurnChannel", :'data-hashtags'=>"turnchannel", :'data-dnt'=>"true", :'data-text'=>"This #{@track.tag.name} track is sick! #{@track.f_full_title}", :'data-count' => 'vertical'} Tweet
        .register-container
          Receive updates for the latest EDM tracks!
          %a.register-btn.btn.btn-primary Register
  .player-comments
    .player-comments-heading
      %h3 Comments
    .fb-comments-wrapper
      .fb-comments{:'data-href'=>"#{request.protocol}#{request.host_with_port}#{request.fullpath}", :'data-num-posts'=>"5", :'data-width'=>"335", :'data-colorscheme'=>"white"}
.related-tracks-container
  .related-tracks-heading
    %h3 Related Tracks
  .related-track-items
    - @tracks.each do |track|
      %article.related-track-item.track
        %a{:href => track_url(track.permalink)}
          = image_tag track.artwork_url
          .related-track-description
            .track-item-title= track.f_title
            .track-item-artist= track.f_artist
          .track-play
            %i.icon-play.icon-white
          .genre
            %span.label.label-inverse= track.tag.name
