!!!
%html{:lang => 'en'}
  %head
    = render :partial => 'layouts/head'
  %body.share-page
    .card
      .track-containerr{:'track-id' => @track.sc_id}
        = image_tag @track.artwork_url.gsub('large','t500x500')
        .progress-bar
          .seek
      .info
        .artist
          = image_tag @track.artwork_url.gsub('large','t500x500'), :class => 'avatar'
          //= image_tag @track.user.avatar, :class => 'avatar'
          %h2= @track.user.name
        %h1
          .inner
            %p= @track.f_title
        .uploaded-by-turnchannel
          %h3
            Uploaded via
            %span TurnChannel
          %a.btn.btn-large.btn-block.btn-success{:href => '/', :target => '_blank'} Upload Track
