!!!
%html{:lang => 'en'}
  %head
    = render :partial => 'layouts/head'
  %body.share-page
    .card
      .track-containerr{:'track-id' => @track.sc_id}
        = image_tag @track.artwork_url.gsub('large','t500x500')
        .progress-bar
          .seek
      .info
        .artist
          = image_tag @track.user.avatar, :class => 'avatar'
          %h2= @track.user.name
        %h1
          .inner
            %p= @track.full_title
        %a.next-track{:href => track_url(@next_track.permalink)}
          = image_tag @next_track.artwork_url
          %h2
            .inner
              %p= @next_track.full_title
