!!!
%html{:lang => 'en'}
  %head
    = render :partial => 'layouts/head'

  %body
    = render :partial => 'layouts/social'
    = render :partial => 'layouts/topbar'
    .landing-background
      .container.landing-container
        .tags-container
          %h1 Play me some...
          .tags
            - @tags.each do |tag|
              %a{:href => "#", :tag => tag.name}
                %span.label.label-inverse= tag.name
    .mix-container
      .track-filters
        %h2
          Hot Mixes
      - @hot_mixes.each_with_index do |mix, i|
        - style = ''
        - if i % 4 == 3
          - style = 'margin-right: 0;'
        %article.track{:style => style}
          %a{:href => mix_url(mix.permalink)}
            = image_tag mix.cover_art
            .track-play
              %i.icon-play.icon-white
            .track-stats
              .track-plays
                ►
                = mix.plays_count
              .track-tags
                - mix.tags.each do |tag|
                  %span.label.label-inverse= tag.name
            .track-info
              .track-title
                = mix.name
    .mix-container
      .track-filters
        %h2
          Popular Mixes
      - @popular_mixes.each_with_index do |mix, i|
        - style = ''
        - if i % 4 == 3
          - style = 'margin-right: 0;'
        %article.track{:style => style}
          %a{:href => mix_url(mix.permalink)}
            = image_tag mix.cover_art
            .track-play
              %i.icon-play.icon-white
            .track-stats
              .track-plays
                ►
                = mix.plays_count
              .track-tags
                - mix.tags.each do |tag|
                  %span.label.label-inverse= tag.name
            .track-info
              .track-title
                = mix.name
    .mix-container
      .track-filters
        %h2
          New Mixes
      - @new_mixes.each_with_index do |mix, i|
        - style = ''
        - if i % 4 == 3
          - style = 'margin-right: 0;'
        %article.track{:style => style}
          %a{:href => mix_url(mix.permalink)}
            = image_tag mix.cover_art
            .track-play
              %i.icon-play.icon-white
            .track-stats
              .track-plays
                ►
                = mix.plays_count
              .track-tags
                - mix.tags.each do |tag|
                  %span.label.label-inverse= tag.name
            .track-info
              .track-title
                = mix.name
