- i = 0
- @mix.tracks.each{|t|i+=t.duration}

.player-container
  .player-wrapper
    .player-title
      %h3= "► #{@tracks.first.title}"
    .player-video
      #ytapiplayer
        /%iframe{:width=>"960", :height=>"487", :src=>"http://www.youtube.com/v/#{@remote_ids.first}?version=3&enablejsapi=1&showinfo=0&modestbranding=1&autohide=1&iv_load_policy=3&autoplay=0&rel=0&playlist=#{@remote_ids[1..-1].join(',')}", :frameborder=>"0", :allowfullscreen=>"false"}
.mix-container
  .mix-details
    .mix-details-container
      .mix-thumbnail-container
        .mix-thumbnail
          - if @mix.thumbnail.is_a? Array
            - @mix.thumbnail.each do |thumbnail|
              = image_tag thumbnail
          - else
            = image_tag @mix.thumbnail
        .mix-buttons
          - favorite_class = 'btn'
          - favorite_class = 'btn btn-primary' if current_user && FavoriteMix.find_by_user_id_and_mix_id(current_user.id, @mix.id)
          %button#mix-fav-btn{:class => favorite_class, :href => "/mixes/#{@mix.id}/toggle_fav", :title => "Add this mix to my Favorites"}
            %i.icon-heart
            Favorite
          %button.btn#mix-fav-btn{:href => "/mixes/#{@mix.id}/toggle_fav", :title => "Add this mix to my Favorites"}
            All Tracks
            %b.caret
      .mix-title
        %h2= @mix.name
        .mix-tags
          - @mix.tags.each do |tag|
            %span.label.label-inverse= tag.name
        .mix-length
          = "#{i} (#{@mix.tracks.size} tracks)"
        .mix-description
          = @mix.description
    .mix-comments-container
      %h3 Comments
      .fb-comments-wrapper
        .fb-comments{:'data-href'=>"#{request.protocol}#{request.host_with_port}#{request.fullpath}", :'data-num-posts'=>"5", :'data-width'=>"580", :'data-colorscheme'=>"white"}
      .social-connect
        .social#social-fb
          .fb-like{:'data-href'=>"#{request.protocol}#{request.host_with_port}#{request.fullpath}", :'data-send'=>"false", :'data-layout'=>"button_count", :'data-width'=>"450", :'data-show-faces'=>"false"}
        .social#social-tw
          %a{:href=>"https://twitter.com/share", :class=>"twitter-share-button", :'data-via'=>"TurnChannel", :'data-size'=>"large", :'data-hashtags'=>"turnchannel", :'data-dnt'=>"true"} Tweet
  .mix-related-container
    %h3 Related Mixes
    - @related_mixes.each do |mix|
      %a{:href => mix_path(mix.permalink)}
        .related-mix
          .related-thumbnail
            - if mix.thumbnail.is_a? Array
              - mix.thumbnail.each do |thumbnail|
                = image_tag thumbnail
            - else
              = image_tag @mix.thumbnail
          .related-details
            %h4= mix.name_exerpt
            .related-tags
              - mix.tags.each do |tag|
                %span.label.label-inverse= tag.name
            .related-stats
              = "► #{mix.plays}"
              %i.icon-heart
              = mix.favorite_mixes.size

:javascript
  // Load the IFrame Player API code asynchronously.
  /*var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/player_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  var params = { allowScriptAccess: "always" };
  var atts = { id: "myytplayer" };
  swfobject.embedSWF("http://www.youtube.com/apiplayer?enablejsapi=1&version=3", "ytapiplayer", "620", "378", "8", null, null, params, atts);

  function onYouTubePlayerReady(playerId) {
    var ytplayer = document.getElementById("myytplayer");
    ytplayer.loadPlaylist({
      list: 'PL6A40AB04892E2A1F',
      listType: 'playlist'
    });
  }
  */
