%title= "TurnChannel"

= render :partial => "layouts/meta"

= stylesheet_link_tag   'application', :media => 'all'
%script{:src=>"//ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"}
= javascript_include_tag 'application'

= csrf_meta_tags
= render :partial => 'layouts/shim'
