%title= "TurnChannel"
= stylesheet_link_tag   'application', :media => 'all'
= javascript_include_tag 'application'
%script{:src=>"http://connect.soundcloud.com/sdk.js"}
= csrf_meta_tags
= render :partial => 'layouts/shim'

%meta{:content=>'Discover EDM at its best from artists you care about.', :name=>'description'}

%meta{:content=>'TurnChannel', :property=>'og:site_name'}
%meta{:content=>'Discover EDM at its best from artists you care about.', :property=>'og:description'}
%meta{:content=>'TurnChannel', :property=>'og:title'}
%meta{:content=>'http://turnchannel.com', :property=>'og:url'}
%meta{:content=>'http://imgix.8tracks.com/i/000/023/907/c/filthy-dubstep-at-its-best-232-4063.png?fm=jpg&q=65&w=1024&h=1024&fit=max', :property=>'og:image'}
%meta{:content=>'website', :property=>'og:type'}

%meta{:content=>'242371292554988', :property=>'fb:app_id'}
%meta{:content=>'shawn.janas.9', :property=>'fb:admins'}

:javascript
  function woopraReady(tracker) {
      tracker.setDomain('turnchannel.com');
      tracker.setIdleTimeout(432000000);
      tracker.track();
      return false;
  }
  (function() {
      var wsc = document.createElement('script');
      wsc.src = document.location.protocol+'//static.woopra.com/js/woopra.js';
      wsc.type = 'text/javascript';
      wsc.async = true;
      var ssc = document.getElementsByTagName('script')[0];
      ssc.parentNode.insertBefore(wsc, ssc);
  })();
<!-- End of Woopra Code -->

:javascript
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35542363-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  (function(c,a){window.mixpanel=a;var b,d,h,e;b=c.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===c.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.1.min.js';d=c.getElementsByTagName("script")[0];d.parentNode.insertBefore(b,d);a._i=[];a.init=function(b,c,f){function d(a,b){var c=b.split(".");2==c.length&&(a=a[c[0]],b=c[1]);a[b]=function(){a.push([b].concat(Array.prototype.slice.call(arguments,0)))}}var g=a;"undefined"!==typeof f?
  g=a[f]=[]:f="mixpanel";g.people=g.people||[];h="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config people.identify people.set people.increment".split(" ");for(e=0;e<h.length;e++)d(g,h[e]);a._i.push([b,c,f])};a.__SV=1.1})(document,window.mixpanel||[]);
  mixpanel.init("cd286edeb40f2d32288f1e60fc929547");
