- image = 'http://imgix.8tracks.com/i/000/023/907/c/filthy-dubstep-at-its-best-232-4063.png?fm=jpg&q=65&w=1024&h=1024&fit=max'
- if @track
  - image = @track.artwork_url.gsub('large','t300x300')

- title = 'TurnChannel - best Electronic Dance Music you probably have never heard of'
- if @track
  - title = @track.full_title

%title= title

%meta{:content=>"#{title}. Discover the best Electronic Dance Music you probably have never heard of", :name=>'description'}

%meta{:content=>'TurnChannel', :property=>'og:site_name'}
%meta{:content=>'Discover the best Electronic Dance Music you probably have never heard of', :property=>'og:description'}
%meta{:content=>title, :property=>'og:title'}
%meta{:content=>"#{request.protocol}#{request.host_with_port}#{request.fullpath}", :property=>'og:url'}
%meta{:content=>image, :property=>'og:image'}
%meta{:content=>'website', :property=>'og:type'}

%meta{:content=>'242371292554988', :property=>'fb:app_id'}
%meta{:content=>'shawn.janas.9', :property=>'fb:admins'}
