.navbar.navbar-fixed-top
  .navbar-inner
    = link_to 'TurnChannel', '#', :class => 'brand'
    %ul.nav
      %li.active= link_to 'Dubstep', '#', :class => 'genre-link', :id => 'dubstep'
      %li= link_to 'DrumNBass', '#', :class => 'genre-link', :id => 'dnb'
      %li= link_to 'Electro', '#', :class => 'genre-link', :id => 'electro'
    %ul.nav.pull-right
      %li= link_to 'Submit Tracks', '#', :id => 'submit-tracks-link'
      %li= link_to 'Submit Art', '#', :id => 'submit-art-link'
      %li= link_to 'Contact', '#', :id => 'contact-link'
