.navbar.navbar-fixed-top
  .navbar-inner
    .container
      #topbar
        %ul.nav
          - if @genre == :house
            %li.active= link_to 'House', '/house', :class => 'genre-link', :id => 'house'
          - else
            %li= link_to 'House', '/house', :class => 'genre-link', :id => 'house'
          - if @genre == :dubstep
            %li.active= link_to 'Dubstep', '/dubstep', :class => 'genre-link', :id => 'dubstep'
          - else
            %li= link_to 'Dubstep', '/dubstep', :class => 'genre-link', :id => 'dubstep'

          - if @genre == :dnb
            %li.active= link_to 'DrumNBass', '/dnb', :class => 'genre-link', :id => 'dnb'
          - else
            %li= link_to 'DrumNBass', '/dnb', :class => 'genre-link', :id => 'dnb'
        %span.brand TURNCHANNEL
        %ul.nav.pull-right
          %li= link_to 'Submit Tracks', '#', :id => 'submit-tracks-link'
          %li= link_to 'Contact', '#', :id => 'contact-link'
