.navbar.navbar-fixed-top
  .navbar-inner
    = link_to 'TurnChannelFM', '#', :class => 'brand'
    %ul.nav
      %li.active= link_to 'Dubstep', '#'
      %li= link_to 'Progressive House', '#'
      %li= link_to 'Chillout', '#'
    %ul.nav.pull-right
      %li= link_to 'Submit Tracks', '#'
      %li= link_to 'Submit Art', '#'
      %li= link_to 'TurnChannelTV', '#'
      %li= link_to 'About', '#'

