!!!
%html{:lang => 'en'}
  %head
    = render :partial => 'layouts/head'
  %body
    = render :partial => 'layouts/social'
    = render :partial => 'layouts/topbar'
    .container.container-bg
      = yield
    = render :partial => 'layouts/footer'
