!!!
%html{:lang => 'en'}
  %head
    = render :partial => 'layouts/head'

  %body
    = render :partial => 'layouts/topbar'
    .landing-background
    #main-content
      - flash.each do |key, value|
        .alert{:class => "alert-#{key}"}
          = value
          %a.close{:href => '#'} &times;
      = yield
    = render :partial => 'layouts/player'
    %script{:src=>"//static.getclicky.com/js", :type=>"text/javascript"}
    :javascript
      try{ clicky.init(100535963); }catch(e){}</script>
    %noscript
      %p
        %img{:alt=>"Clicky", :width=>"1", :height=>"1", :src=>"//in.getclicky.com/100535963ns.gif"}
