!!!
%html{:lang => 'en'}
  %head
    = render :partial => 'layouts/head'

  %body
    #fb-root
    :javascript
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=311444562227788";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

    = render :partial => 'layouts/topbar'
    #main-content
      - flash.each do |key, value|
        .alert{:class => "alert-#{key}"}
          = value
          %a.close{:href => '#'} &times;
      = yield
    = render :partial => 'layouts/player'
    %script{:src=>"//static.getclicky.com/js", :type=>"text/javascript"}
    :javascript
      try{ clicky.init(100535963); }catch(e){}
    %noscript
      %p
        %img{:alt=>"Clicky", :width=>"1", :height=>"1", :src=>"//in.getclicky.com/100535963ns.gif"}
